<!DOCTYPE html>
<html>
    <head>
      <title>Geolocation API</title>
      <p><%=lat%>,<%=lat1%>,<%=lng%>,<%=lng1%></p>
     </head>
    <body>
       <h2>Find Your Location in below Map</h2>
        <button onclick="showPos(<%=lat%>,<%=lat1%>,<%=lng%>,<%=lng1%>);"> Show Position</button>
        <div id="demo" style="width: 600px; height: 400px; margin-left: 200px;"></div>
       
        <div class="d-flex justify-content-center" style="position: relative; transform : translate(0%,10%)">
        <div id="message-container"></div>
     <form id="send-container">
        <input type="text" id="message-input">
        <button type="submit" id="send-button">Send</button>
     </form>
     </div>
     <div data-name="Rider" id="saved-data"></div>
     <script type="text/javascript" src="http://localhost:3000/socket.io/socket.io.js"></script>
     <script type="text/javascript" src="/chat.js"></script>
        <script src="https://maps.google.com/maps/api/js?sensor=false"> </script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script type="text/javascript">
        function showPos(lat,lat1,lng,lng1){
              console.log("showPos");
            var latlng = new google.maps.LatLng(lat, lng);
            var Options = {
                center: latlng,
                zoom: 15,
                mapTypeControl: true,
                navigationControlOptions: {style:google.maps.NavigationControlStyle.SMALL}
            }
            var latlng1 = new google.maps.LatLng(lat1, lng1);
            var Options1 = {
                            center: latlng1,
                            zoom: 15,
                            mapTypeControl: true,
                            navigationControlOptions: {style:google.maps.NavigationControlStyle.SMALL}
                        }
            var maps = new google.maps.Map(document.getElementById("demo"), Options);
            var markers =
            new google.maps.Marker({position:latlng, map:maps, title:"You are here!"});
            var markers2 =
                        new google.maps.Marker({position:latlng1, map:maps, title:"You are here!"});
        }

             function showErr(error) {
              switch(error.code){
              case error.PERMISSION_DENIED:
             alert("User denied the request for Geolocation API.");
              break;
             case error.POSITION_UNAVAILABLE:
             alert("USer location information is unavailable.");
            break;
            case error.TIMEOUT:
            alert("The request to get user location timed out.");
            break;
           case error.UNKNOWN_ERROR:
            alert("An unknown error occurred.");
            break;
           }
        }
         function showPos2(position){
                     lat = position.coords.latitude+.25;
                     lng = position.coords.longitude+.15;
                     console.log(lat,lng);
                     var latlng = new google.maps.LatLng(lat, lng);
                     var Options = {
                         center: latlng,
                         zoom: 15,
                         mapTypeControl: true,
                         navigationControlOptions: {style:google.maps.NavigationControlStyle.SMALL}
                     }
                     var maps = new google.maps.Map(document.getElementById("demo"), Options);
                     var markers =
                     new google.maps.Marker({position:latlng, map:maps, title:"You are here!"});
                 }



         </script>
         <script src="/location.js"></script>
    </body>
</html>