<html>
<head>
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <!-- <h1><%=title%></h1>
     <nav class="firstNav">
        <div>
            <img src= <%=url %> height="200" width="200" alt="logo">
        </div>
        <div>
            <ul>
                <li><a href= <%= "/restaurant/menu/"+id %> >Menu Management</a></li>
                <li><a href= <%= "/restaurant/add_category/"+id %> >Add Category</a></li>
                <li><a href= <%= "/restaurant/add_item/"+id%> >Add Item</a></li>
                <li><a href="/restaurant/login">LogOut</a></li>
            </ul>
        </div>
     </nav> -->

     <!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Navbar brand -->
          <img
            src=<%= url %> 
            height="100"
            alt="Logo"
            loading="lazy"
          />
          <h2><%=title%></h2>
        <!-- Left links -->
        <!-- Left links -->
      </div>
      <!-- Collapsible wrapper -->
  
      <!-- Right elements -->
      <div class="d-flex align-items-center">
  
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href= <%= "/restaurant/menu/"+id %> >Menu Management</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href= <%= "/restaurant/add_category/"+id %> >Add Category</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href= <%= "/restaurant/add_item/"+id%> >Add Item</a>
            </li>
              <li class="nav-item">
                  <a class="nav-link" href="/restaurant/login">LogOut</a>
                </li>
          </ul>
      </div>
      <!-- Right elements -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->


   
      <h1 class="text-center"> Dashboard </h1>
      <div class="d-flex justify-content-center">
      <table class="table table-sm">
        <tr>
        <th>Order</th>
        <th>Customer</th>
        <th></th>
        <th>Time</th>
        </tr>
        <% for(var i=0;i< cust_name.length;i++){ %>

        <tr>
         <td><%= item_name[i]%> </td>
          <td><%=cust_name[i]%></td>
          <td>

        <button style="font-size:12px" class="confirm-btn" data-cart_id="<%=JSON.stringify(cart_id[i])%>">Confirm<i class="fa fa-shopping-cart"></i></button>
          </td>
          <td></td>
        </tr>
        <% }%>
      </table>

    </div>

     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
     <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/orderHandle.js" type="module"></script>
    </body>
</html>