<html>
<head>
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>


    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->


      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Navbar brand -->

          <h1 class="ridd-1" data-rid="<%=id%>"><%= title %></h1>
        <!-- Left links -->
        <!-- Left links -->
      </div>
      <!-- Collapsible wrapper -->

      <!-- Right elements -->
      <div class="d-flex align-items-center">

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <li class="nav-item">
                          <a class="nav-link" href= <%= "/rider/order/finish/"+id%> >Finished Order</a>
                        </li>

              <li class="nav-item">
                  <a class="nav-link" href="/restaurant/login">LogOut</a>
                </li>
          </ul>
      </div>
      <!-- Right elements -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->

  <div class="container">
    <div class="row">
      <div class="col-sm">

      <h1 class="text-center"> Delivery offer </h1>
      <div class="d-flex justify-content-center">
      <table class="table table-dark">
        <tr>
        <th>Order</th>
        <th>Customer</th>
        <th>Confirm Order</th>
        <th>Reject Order</th>
        </tr>
        <% for(var i=0;i< cust_name.length;i++){ %>

        <tr>
         <td><%= item_name[i]%> </td>
          <td><%=cust_name[i]%></td>
          <td>

        <button style="font-size:12px" class="rconfirm-btn" data-cart_id="<%=JSON.stringify(cart_id[i])%>">Confirm<i class="fa fa-shopping-cart"></i></button>
          </td>
          <td>
          <button style="font-size:12px" class="reject-btn" data-car_id="<%=JSON.stringify(cart_id[i])%>">Reject<i class="fa fa-shopping-cart"></i>
          </button></td>
        </tr>
        <% }%>
      </table>

    </div>
      </div>
      <div class="col-sm">
     <h1 class="text-center"> Ongoing Order </h1>
          <div class="d-flex justify-content-center">
          <table class="table table-dark">
            <tr>
            <th>Order</th>
            <th>Customer</th>
            <th>Status</th>
            <th>Map</th>
            <th>Massage</th>
            <th>Contact Info</th>
            </tr>
            <% for(var i=0;i< cust_name1.length;i++){ %>

            <tr>
             <td><%= item_name1[i]%> </td>
              <td><%=cust_name1[i]%></td>
              <td>

            <button style="font-size:12px" class="rconf-btn" data-cart_id="<%=JSON.stringify(cart_id1[i])%>">Delivered<i class="fa fa-shopping-cart"></i></button>
              </td>
              <td><a class="nav-link active" aria-current="page" href="/order_loc/<%=cart_id1[i]%>">Track order</a></td>
              <td><a class="nav-link active" aria-current="page" href="/rider/msg/<%=cart_id1[i]%>">Massage</a></td>
              <td><%=mobile[i]%></td>
            </tr>
            <% }%>
          </table>
        </div>
    </div>
  </div>
  </div>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
     <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
     <script src="/riderConfirm.js"></script>
     <script src="/riderReject.js"></script>
     <script src="/riderDel.js"></script>
    </body>
</html>